html {
    height: 100%;
}

body {
    height: 100%;
    position:relative;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.main_page_text{
    position:relative;
    width: 50%;
}

.card{
    position:relative;
    width: 500px;
    height: 400px;
    background-color: #f7f7f7;
}



@media screen and (max-width: 1000px) {
    .main_page_text{
        position:relative;
        width: 500px;
    }


}


@media screen and (max-width: 500px) {

    html {
        font-size: 4vw;
        height: 100%;
    }


    body {
        height: 100%;
        position:relative;
    }

    .h1 {
        color: navy;
        margin-left: 20px;
        font-size: 4vw;
    }

    .main_page_text{
        position:relative;
        width: 100%;
    }

    .card{
        position:relative;
        width: 95%;
        height: 95%;
    }

    .app{
        height: 60%;
    }
}

